project/phase1/summary.dtd

<!DOCTYPE summary [
  <!ELEMENT summary (attribute*)>
  <!ELEMENT attribute (name,property+)>
  <!ELEMENT unique (value+)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT property (#PCDATA)>
  <!ELEMENT value (#PCDATA)>
  <!ATTLIST property name (mean|q1|q3|median|mode|min|max|sd) #REQUIRED>
  <!ATTLIST name type (integer|float|string) #REQUIRED>
]>