project/phase1/summary.dtd

  <!ELEMENT summary (attribute*)>
  <!ELEMENT attribute (name, property*, modes?, unique?)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT property (#PCDATA)>
  <!ELEMENT modes (mode+)>
  <!ELEMENT mode (#PCDATA)>
  <!ELEMENT unique (value+)>
  <!ELEMENT value (#PCDATA)>
  <!ATTLIST property name (min|q1|median|q3|max) #REQUIRED>
  <!ATTLIST attribute type (integer|float|string) #REQUIRED>
